:root {
  --accent-color: #28a745;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
  --main-bg-color: #ffffff;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
  font-size: 18px;
}

/* reset */

/* Стили для обнуления верхних отступов у элементов  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul)  */

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок  */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок  */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address  */

address {
  font-style: normal;
}

/* components */
.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.header {
  background-color: #5e5e5e;
}

.header .container {
  padding: 0 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  gap: 38px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);
}

.accent {
  margin-right: 12px;
  color: var(--accent-color);
}

.nav-link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  line-height: 1.56;
  color: var(--secondary-text-color);
}

/* HERO */

.hero {
  background-color: #5e5e5e;
  padding: 259px 0 284px;
  text-align: center;
}

.hero-title {
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  color: #e9e9e9;
  margin-bottom: 45px;
}

.hero-description {
  font-size: 22px;
  line-height: 1.67;
  color: #e9e9e9;
  margin-bottom: 29px;
}

.hero-btn {
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 5px;
  line-height: 1.56;
  color: var(--secondary-text-color);
  padding: 10px 30px 9px 41px;
}

/* About */

.about {
  padding-top: 122px;
  padding-bottom: 19px;

  background-color: #f4f4f4;
}

.about .container {
  padding: 0 66px;
}

.about-list {
  display: flex;
  gap: 71px;
}

.list {
}

.about-item {
}

.about-title {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;

  text-align: center;

  color: var(--primary-text-color);
}

.about-description {
  line-height: 1.56;

  text-align: center;

  color: var(--primary-text-color);
}

/* Solutions */

.solutions .container {
  display: flex;
  padding: 0;
}

.solutions-content-wrapper {
  width: 50%;
  padding: 84px 44px 84px 30px;

  background-color: var(--accent-color);
}

.solutions-top-title {
  margin-bottom: 5px;

  font-size: 20px;
  line-height: 1.65;

  color: var(--secondary-text-color);
}

.solutions-title {
  margin-bottom: 26px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;

  color: var(--secondary-text-color);
}

.solutions-description {
  margin-bottom: 17px;

  line-height: 1.56;

  color: var(--secondary-text-color);
}

.solutions-btn {
  display: inline-block;
  padding: 11px 27px 12px 42px;
  line-height: 1.56;

  color: var(--secondary-text-color);
  background-color: transparent;

  border: 1px solid var(--secondary-text-color);
  border-radius: 5px;
}

/* Business Cases */
.cases{
  margin: 50px auto 47px auto;
}


.container-cases{
  margin: 0 auto;
  width: 1360px;
  text-align: center;
}

.cases-first-p{
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: #333333;
}

.cases-title{
  font-weight: 300;
  font-size: 38px;
  line-height: 1.263;
  text-align: center;
  color: #333333;
  padding-top: 15px;
}

.cases-second-p{
  font-size: 18px;
  line-height: 1.556;
  text-align: center;
  color: #333333;
  padding-top: 34px;
}

.photos-flex{
  list-style-type: none;
  margin: 0;
  padding: 39px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px 8px;
}

.cases-photos{
  width: 320px;
  height: 214px;
  border-radius: 0px;
}