@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
  font-size: 18px;
}

.container {
  margin: 0 auto;
  padding: 0 30px;

  @media screen and(min-width: $mobile) {
    width: 320px;
  }

  @media screen and(min-width: $tablet) {
    width: 768px;
  }

  @media screen and(min-width: $descktop) {
    width: 1360px;
  }
}

.header-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
