:root {
  --accent-color: #28a745;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f4f4f4;
  --posts-bg-color: #0284d0;
  --footer-bg-color: rgba(51, 51, 51, 1);
  --timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  --duration: 250ms;
}

$mobile: 480px;
$tablet: 768px;
$descktop: 1360px;
