<section class="callback">
  <div class="container">
    <img
      src="./images/callback/callback-background-image.jpg"
      alt="A man at a laptop"
      width="680"
      height="460"
    />
    <div class="callback-content-wrapper">
      <h2 class="section-title callback-title">Request Callback</h2>
      <form action="" class="input-form">
        <input
          type="text"
          name="name"
          class="input-field"
          placeholder="Enter your name"
        />
        <input
          type="email"
          name="email"
          class="input-field"
          placeholder="Enter email*"
        />
        <button type="submit" class="send-button">Send</button>
      </form>
    </div>
  </div>
</section>
