<section class="section-cases">
  <div class="container">
    <p class="section-top-title section-top-title__dark">This is what we do</p>
    <h2 class="title title__dark">Business Cases</h2>
    <p class="section-description section-description__dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="photos-flex">
      <li>
        <img
          src="./images/cases/first_photo.jpg"
          alt="Team meeting"
          class="cases-photos"
        />
      </li>
      <li>
        <img
          src="./images/cases/second_photo.jpg"
          alt="Notes"
          class="cases-photos"
        />
      </li>
      <li>
        <img
          src="./images/cases/third_photo.jpg"
          alt="Handshake"
          class="cases-photos"
        />
      </li>
      <li>
        <img
          src="./images/cases/fourth_photo.jpg"
          alt="Team"
          class="cases-photos"
        />
      </li>
      <li>
        <img
          src="./images/cases/fifth_photo.jpg"
          alt="Worker"
          class="cases-photos"
        />
      </li>
      <li>
        <img
          src="./images/cases/sixth_photo.jpg"
          alt="Buildings"
          class="cases-photos"
        />
      </li>
      <li>
        <img
          src="./images/cases/seventh_photo.jpg"
          alt="Team meeting"
          class="cases-photos"
        />
      </li>
      <li>
        <img
          src="./images/cases/eighth_photo.jpg"
          alt="Team"
          class="cases-photos"
        />
      </li>
    </ul>
  </div>
</section>
