<section class="section-cases" id="cases">
  <div class="container">
    <p class="section-top-title section-top-title__dark">This is what we do</p>
    <h2 class="title title__dark section-cases__title">Business Cases</h2>
    <p class="section-description section-description__dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="photos-flex gallery">
      <li>
        <picture class="cases-photos">
          <source media="(min-width: 1360px)"
            srcset=".//images/cases/desktop/img1_320_lg@1x.jpg 1x, .//images/cases/desktop/img1_320_lg@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 1360px)" srcset=".//images/cases/desktop/img1_320_lg@1x.webp 1x, .//images/cases/desktop/img1_320_lg@2x.webp 2x" type="image/webp"/>
          <source media="(min-width: 768px)"
            srcset=".//images/cases/tablet/img1_172_md@1x.jpg 1x, .//images/cases/tablet/img1_172_md@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 768px)" srcset=".//images/cases/tablet/img1_172_md@1x.webp 1x, .//images/cases/tablet/img1_172_md@2x.webp 2x" type="image/webp"/>
          <source media="(max-width: 767.9px)"
            srcset=".//images/cases/mobile/img1_264_sm@1x.jpg 1x, .//images/cases/mobile/img1_264_sm@2x.jpg 2x"
            type="image/jpg" />
          <source media="(max-width: 767.9px)" srcset=".//images/cases/mobile/img1_264_sm@1x.webp 1x, .//images/cases/mobile/img1_264_sm@2x.webp 2x" type="image/webp"/>
          <img src=".//images/cases/mobile/img1_264_sm@1x.jpg" alt="Team meeting" loading="lazy" />
        </picture>
      </li>

      <li>
        <picture class="cases-photos">
          <source media="(min-width: 1360px)"
            srcset=".//images/cases/desktop/img2_320_lg@1x.jpg 1x, .//images/cases/desktop/img2_320_lg@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 1360px)" srcset=".//images/cases/desktop/img2_320_lg@1x.webp 1x, .//images/cases/desktop/img2_320_lg@2x.webp 2x" type="image/webp"/>
          <source media="(min-width: 768px)"
            srcset=".//images/cases/tablet/img2_172_md@1x.jpg 1x, .//images/cases/tablet/img2_172_md@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 768px)" srcset=".//images/cases/tablet/img2_172_md@1x.webp 1x, .//images/cases/tablet/img2_172_md@2x.webp 2" type="image/webp"/>
          <source media="(max-width: 767.9px)"
            srcset=".//images/cases/mobile/img2_264_sm@1x.jpg 1x, .//images/cases/mobile/img2_264_sm@2x.jpg 2x"
            type="image/jpg" />
          <source media="(max-width: 767.9px)" srcset=".//images/cases/mobile/img2_264_sm@1x.webp 1x, .//images/cases/mobile/img2_264_sm@2x.webp 2x" type="image/webp"/>
          <img src=".//images/cases/mobile/img2_264_sm@1x.jpg" alt="Team meeting" loading="lazy" />
        </picture>
      </li>

      <li>
        <picture class="cases-photos">
          <source media="(min-width: 1360px)"
            srcset=".//images/cases/desktop/img3_320_lg@1x.jpg 1x, .//images/cases/desktop/img3_320_lg@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 1360px)" srcset=".//images/cases/desktop/img3_320_lg@1x.webp 1x, .//images/cases/desktop/img3_320_lg@2x.webp 2x" type="image/webp"/>
          <source media="(min-width: 768px)"
            srcset=".//images/cases/tablet/img3_172_md@1x.jpg 1x, .//images/cases/tablet/img3_172_md@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 768px)" srcset=".//images/cases/tablet/img3_172_md@1x.webp 1x, .//images/cases/tablet/img3_172_md@2x.webp 2x" type="image/webp"/>
          <source media="(max-width: 767.9px)"
            srcset=".//images/cases/mobile/img3_264_sm@1x.jpg 1x, .//images/cases/mobile/img3_264_sm@2x.jpg 2x"
            type="image/jpg" />
          <source media="(max-width: 767.9px)" srcset=".//images/cases/mobile/img3_264_sm@1x.webp 1x, .//images/cases/mobile/img3_264_sm@2x.webp 2x" type="image/webp"/>
          <img src=".//images/cases/mobile/img3_264_sm@1x.jpg" alt="Team meeting" loading="lazy" />
        </picture>
      </li>

      <li>
        <picture class="cases-photos">
          <source media="(min-width: 1360px)"
            srcset=".//images/cases/desktop/img4_320_lg@1x.jpg 1x, .//images/cases/desktop/img4_320_lg@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 1360px)" srcset=".//images/cases/desktop/img4_320_lg@1x.webp 1x, .//images/cases/desktop/img4_320_lg@2x.webp 2x" type="image/webp"/>
          <source media="(min-width: 768px)"
            srcset=".//images/cases/tablet/img4_172_md@1x.jpg 1x, .//images/cases/tablet/img4_172_md@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 768px)" srcset=".//images/cases/tablet/img4_172_md@1x.webp 1x, .//images/cases/tablet/img4_172_md@2x.webp 2x" type="image/webp"/>
          <source media="(max-width: 767.9px)"
            srcset=".//images/cases/mobile/img4_264_sm@1x.jpg 1x, .//images/cases/mobile/img4_264_sm@2x.jpg 2x"
            type="image/jpg" />
          <source media="(max-width: 767.9px)" srcset=".//images/cases/mobile/img4_264_sm@1x.webp 1x, .//images/cases/mobile/img4_264_sm@2x.webp 2x" type="image/webp"/>
          <img src=".//images/cases/mobile/img4_264_sm@1x.jpg" alt="Team meeting" loading="lazy" />
        </picture>
      </li>

      <li>
        <picture class="cases-photos">
          <source media="(min-width: 1360px)"
            srcset=".//images/cases/desktop/img5_320_lg@1x.jpg 1x, .//images/cases/desktop/img5_320_lg@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 1360px)" srcset=".//images/cases/desktop/img5_320_lg@1x.webp 1x, .//images/cases/desktop/img5_320_lg@2x.webp 2x" type="image/webp"/>
          <source media="(min-width: 768px)"
            srcset=".//images/cases/tablet/img5_172_md@1x.jpg 1x, .//images/cases/tablet/img5_172_md@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 768px)" srcset=".//images/cases/tablet/img5_172_md@1x.webp 1x, .//images/cases/tablet/img5_172_md@2x.webp 2x" type="image/webp"/>
          <source media="(max-width: 767.9px)"
            srcset=".//images/cases/mobile/img5_264_sm@1x.jpg 1x, .//images/cases/mobile/img5_264_sm@2x.jpg 2x"
            type="image/jpg" />
          <source media="(max-width: 767.9px)" srcset=".//images/cases/mobile/img5_264_sm@1x.webp 1x, .//images/cases/mobile/img5_264_sm@2x.webp 2x" type="image/webp"/>
          <img src=".//images/cases/mobile/img5_264_sm@1x.jpg" alt="Team meeting" loading="lazy" />
        </picture>
      </li>

      <li>
        <picture class="cases-photos">
          <source media="(min-width: 1360px)"
            srcset=".//images/cases/desktop/img6_320_lg@1x.jpg 1x, .//images/cases/desktop/img6_320_lg@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 1360px)" srcset=".//images/cases/desktop/img6_320_lg@1x.webp 1x, .//images/cases/desktop/img6_320_lg@2x.webp 2x" type="image/webp"/>
          <source media="(min-width: 768px)"
            srcset=".//images/cases/tablet/img6_172_md@1x.jpg 1x, .//images/cases/tablet/img6_172_md@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 768px)" srcset=".//images/cases/tablet/img6_172_md@1x.webp 1x, .//images/cases/tablet/img6_172_md@2x.webp 2x" type="image/webp"/>
          <source media="(max-width: 767.9px)"
            srcset=".//images/cases/mobile/img6_264_sm@1x.jpg 1x, .//images/cases/mobile/img6_264_sm@2x.jpg 2x"
            type="image/jpg" />
          <source media="(max-width: 767.9px)" srcset=".//images/cases/mobile/img6_264_sm@1x.webp 1x, .//images/cases/mobile/img6_264_sm@2x.webp 2x" type="image/webp"/>
          <img src=".//images/cases/mobile/img6_264_sm@1x.jpg" alt="Team meeting" loading="lazy" />
        </picture>
      </li>

      <li>
        <picture class="cases-photos">
          <source media="(min-width: 1360px)"
            srcset=".//images/cases/desktop/img7_320_lg@1x.jpg 1x, .//images/cases/desktop/img7_320_lg@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 1360px)" srcset=".//images/cases/desktop/img7_320_lg@1x.webp 1x, .//images/cases/desktop/img7_320_lg@2x.webp 2x" type="image/webp"/>
          <source media="(min-width: 768px)"
            srcset=".//images/cases/tablet/img7_172_md@1x.jpg 1x, .//images/cases/tablet/img7_172_md@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 768px)" srcset=".//images/cases/tablet/img7_172_md@1x.webp 1x, .//images/cases/tablet/img7_172_md@2x.webp 2x" type="image/webp"/>
          <source media="(max-width: 767.9px)"
            srcset=".//images/cases/mobile/img7_264_sm@1x.jpg 1x, .//images/cases/mobile/img7_264_sm@2x.jpg 2x"
            type="image/jpg" />
          <source media="(max-width: 767.9px)" srcset=".//images/cases/mobile/img7_264_sm@1x.webp 1x, .//images/cases/mobile/img7_264_sm@2x.webp 2x" type="image/webp"/>
          <img src=".//images/cases/mobile/img7_264_sm@1x.jpg" alt="Team meeting" loading="lazy" />
        </picture>
      </li>

      <li>
        <picture class="cases-photos">
          <source media="(min-width: 1360px)"
            srcset=".//images/cases/desktop/img8_320_lg@1x.jpg 1x, .//images/cases/desktop/img8_320_lg@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 1360px)" srcset=".//images/cases/desktop/img8_320_lg@1x.webp 1x, .//images/cases/desktop/img8_320_lg@2x.webp 2x" type="image/webp"/>
          <source media="(min-width: 768px)"
            srcset=".//images/cases/tablet/img8_172_md@1x.jpg 1x, .//images/cases/tablet/img8_172_md@2x.jpg 2x"
            type="image/jpg" />
          <source media="(min-width: 768px)" srcset=".//images/cases/tablet/img8_172_md@1x.webp 1x, .//images/cases/tablet/img8_172_md@2x.webp 2x" type="image/webp"/>
          <source media="(max-width: 767.9px)"
            srcset=".//images/cases/mobile/img8_264_sm@1x.jpg 1x, .//images/cases/mobile/img8_264_sm@2x.jpg 2x"
            type="image/jpg" />
          <source media="(max-width: 767.9px)" srcset=".//images/cases/mobile/img8_264_sm@1x.webp 1x, .//images/cases/mobile/img8_264_sm@2x.webp 2x" type="image/webp"/>
          <img src=".//images/cases/mobile/img8_264_sm@1x.jpg" alt="Team meeting" loading="lazy" />
        </picture>
      </li>
    </ul>
  </div>
</section>
