<footer class="footer">
  <div class="footer-container container">
    <ul class="socials list">
      <li class="socials-item">
        <a
          class="socials-link link"
          href="https://facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook icon"
        >
          <svg class="socials-icon" width="35" height="35">
            <use href="./images/svg-spite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link link"
          href="https://twitter.com"
          aria-label="Twitter icon"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials-icon" width="35" height="35">
            <use href="./images/svg-spite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link link"
          href="https://youtube.com"
          aria-label="Youtube icon"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials-icon" width="40" height="35">
            <use href="./images/svg-spite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link link"
          href="https://linkedin.com"
          aria-label="LinkedIn icon"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials-icon" width="31" height="35">
            <use href="./images/svg-spite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer-copyright">Copyright &#169; 2022 - FinanceLedger</p>
  </div>
</footer>
