<header class="header header-js">
  <div class="container">
    <nav class="nav">
      <a class="link logo header-logo__margin" href="./index.html">
        <svg class="logo__icon" width="40" height="30">
          <use href="./images/svg-spite.svg#icon-logo"></use>
        </svg>
        Finance
        <span class="header-logo__part"> Ledger</span>
      </a>
      <ul class="list nav-list">
        <li class="nav-item"><a class="nav-link link" href="#">Home</a></li>
        <li class="nav-item">
          <a class="nav-link link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="#">Cases</a>
        </li>
        <li class="nav-item"><a class="nav-link link" href="#">Blog</a></li>
        <li class="nav-item">
          <a class="nav-link link" href="./contacts.html">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
