<section class="posts" id="posts">
  <div class="container posts">
    <div class="posts-content-wrapper">
      <p class="section-top-title section-top-title__light">April 16 2020</p>
      <h2 class="title title__light">Blog Post One</h2>
      <p class="section-description section-description__light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button type="button" class="posts-btn link">Read Our Blog</button>
    </div>
  <picture>
      <!-- desktop screen -->
      <source
        media="(min-width: 1360px)"
        srcset="
          ./images/posts/img680_lg@1x.webp 1x,
          ./images/posts/img680_lg@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1360px)"
        srcset="
          ./images/posts/img680_lg@1x.jpg 1x,
          ./images/posts/img680_lg@2x.jpg 2x
        "
        type="image/jpg"
      />
      <!-- tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/posts/img384_md@1x.webp 1x,
          ./images/posts/img384_md@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/posts/img384_md@1x.jpg 1x,
          ./images/posts/img384_md@2x.jpg 2x
        "
        type="image/jpg"
      />

      <!-- phone screen -->
      <source
        media="(max-width: 767.98px)"
        srcset="
          ./images/posts/img320_sm@1x.webp 1x,
          ./images/posts/img320_sm@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767.98px)"
        srcset="
          ./images/posts/img384_md@1x.jpg 1x,
          ./images/posts/img384_md@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="./images/posts/img320_sm@1x.jpg"
        alt="team"
        loading="lazy"
      />
    </picture>

  </div>
</section>