<section class="posts">
  <div class="container posts">
    <div class="posts-content-wrapper">
      <p class="section-top-title section-top-title__light">April 16 2020</p>
      <h2 class="title title__light">Blog Post One</h2>
      <p class="section-description section-description__light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button type="button" class="posts-btn link">Read Our Blog</button>
    </div>
    <img
      src="./images/posts/Rectangle.jpg"
      alt="posts"
      width="680"
      height="517"
    />
  </div>
</section>
