<section class="slick">
  <div class="container">
    <div class="one-time">
      <div class="slick-card">
        <h3 class="slick-title">1</h3>
        <p class="slick-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cumque
          sapiente doloribus, explicabo accusamus adipisci assumenda obcaecati
          odit in nihil tempora error, repudiandae ipsum nobis voluptas. Magnam
          rem quod incidunt ex, odit tenetur tempore ipsa pariatur vitae placeat
          iusto ratione quo sint, dolore dolor maiores at culpa rerum sed vel
          architecto numquam id consequatur deserunt! Exercitationem praesentium
          ea ullam ipsum cupiditate dolorum, pariatur eveniet, vel excepturi
          sit, nemo velit expedita facere necessitatibus. Consectetur expedita
          atque et a praesentium, rem accusantium? Temporibus repellat earum ex
          quas non asperiores corrupti adipisci praesentium, perferendis
          possimus, animi reiciendis? Animi nihil sint in molestias quod ipsum
          mollitia aliquam, eligendi necessitatibus ipsam exercitationem tempore
          voluptatibus reprehenderit unde a fuga illum fugit aliquid explicabo
          ad, odio dignissimos similique? Molestias odio earum voluptas.
          Voluptate veniam corrupti, nihil vel a provident eveniet beatae ipsa
          nulla reiciendis minus, aliquam consequatur, ex esse eligendi impedit
          voluptatum doloribus quam exercitationem ut? Asperiores cum facere
          dicta repellat reiciendis mollitia dolore vero qui libero. Velit
          aliquid molestiae tenetur? Placeat unde maxime minima fugiat! Delectus
          voluptates, illum, enim totam aperiam ipsum architecto nam obcaecati
          repellendus culpa ea dolor, quis sed aut tempora? Nam sequi possimus
          deserunt dolores a voluptatem laudantium corporis nostrum obcaecati.
          Recusandae, cupiditate!
        </p>
      </div>

      <div class="slick-card">
        <h3>2</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cumque
          sapiente doloribus, explicabo accusamus adipisci assumenda obcaecati
          odit in nihil tempora error, repudiandae ipsum nobis voluptas. Magnam
          rem quod incidunt ex, odit tenetur tempore ipsa pariatur vitae placeat
          iusto ratione quo sint, dolore dolor maiores at culpa rerum sed vel
          architecto numquam id consequatur deserunt! Exercitationem praesentium
          ea ullam ipsum cupiditate dolorum, pariatur eveniet, vel excepturi
          sit, nemo velit expedita facere necessitatibus. Consectetur expedita
          atque et a praesentium, rem accusantium? Temporibus repellat earum ex
          quas non asperiores corrupti adipisci praesentium, perferendis
          possimus, animi reiciendis? Animi nihil sint in molestias quod ipsum
          mollitia aliquam, eligendi necessitatibus ipsam exercitationem tempore
          voluptatibus reprehenderit unde a fuga illum fugit aliquid explicabo
          ad, odio dignissimos similique? Molestias odio earum voluptas.
          Voluptate veniam corrupti, nihil vel a provident eveniet beatae ipsa
          nulla reiciendis minus, aliquam consequatur, ex esse eligendi impedit
          voluptatum doloribus quam exercitationem ut? Asperiores cum facere
          dicta repellat reiciendis mollitia dolore vero qui libero. Velit
          aliquid molestiae tenetur? Placeat unde maxime minima fugiat! Delectus
          voluptates, illum, enim totam aperiam ipsum architecto nam obcaecati
          repellendus culpa ea dolor, quis sed aut tempora? Nam sequi possimus
          deserunt dolores a voluptatem laudantium corporis nostrum obcaecati.
          Recusandae, cupiditate!
        </p>
      </div>

      <div class="slick-card">
        <h3>3</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cumque
          sapiente doloribus, explicabo accusamus adipisci assumenda obcaecati
          odit in nihil tempora error, repudiandae ipsum nobis voluptas. Magnam
          rem quod incidunt ex, odit tenetur tempore ipsa pariatur vitae placeat
          iusto ratione quo sint, dolore dolor maiores at culpa rerum sed vel
          architecto numquam id consequatur deserunt! Exercitationem praesentium
          ea ullam ipsum cupiditate dolorum, pariatur eveniet, vel excepturi
          sit, nemo velit expedita facere necessitatibus. Consectetur expedita
          atque et a praesentium, rem accusantium? Temporibus repellat earum ex
          quas non asperiores corrupti adipisci praesentium, perferendis
          possimus, animi reiciendis? Animi nihil sint in molestias quod ipsum
          mollitia aliquam, eligendi necessitatibus ipsam exercitationem tempore
          voluptatibus reprehenderit unde a fuga illum fugit aliquid explicabo
          ad, odio dignissimos similique? Molestias odio earum voluptas.
          Voluptate veniam corrupti, nihil vel a provident eveniet beatae ipsa
          nulla reiciendis minus, aliquam consequatur, ex esse eligendi impedit
          voluptatum doloribus quam exercitationem ut? Asperiores cum facere
          dicta repellat reiciendis mollitia dolore vero qui libero. Velit
          aliquid molestiae tenetur? Placeat unde maxime minima fugiat! Delectus
          voluptates, illum, enim totam aperiam ipsum architecto nam obcaecati
          repellendus culpa ea dolor, quis sed aut tempora? Nam sequi possimus
          deserunt dolores a voluptatem laudantium corporis nostrum obcaecati.
          Recusandae, cupiditate!
        </p>
      </div>

      <div class="slick-card">
        <h3>4</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cumque
          sapiente doloribus, explicabo accusamus adipisci assumenda obcaecati
          odit in nihil tempora error, repudiandae ipsum nobis voluptas. Magnam
          rem quod incidunt ex, odit tenetur tempore ipsa pariatur vitae placeat
          iusto ratione quo sint, dolore dolor maiores at culpa rerum sed vel
          architecto numquam id consequatur deserunt! Exercitationem praesentium
          ea ullam ipsum cupiditate dolorum, pariatur eveniet, vel excepturi
          sit, nemo velit expedita facere necessitatibus. Consectetur expedita
          atque et a praesentium, rem accusantium? Temporibus repellat earum ex
          quas non asperiores corrupti adipisci praesentium, perferendis
          possimus, animi reiciendis? Animi nihil sint in molestias quod ipsum
          mollitia aliquam, eligendi necessitatibus ipsam exercitationem tempore
          voluptatibus reprehenderit unde a fuga illum fugit aliquid explicabo
          ad, odio dignissimos similique? Molestias odio earum voluptas.
          Voluptate veniam corrupti, nihil vel a provident eveniet beatae ipsa
          nulla reiciendis minus, aliquam consequatur, ex esse eligendi impedit
          voluptatum doloribus quam exercitationem ut? Asperiores cum facere
          dicta repellat reiciendis mollitia dolore vero qui libero. Velit
          aliquid molestiae tenetur? Placeat unde maxime minima fugiat! Delectus
          voluptates, illum, enim totam aperiam ipsum architecto nam obcaecati
          repellendus culpa ea dolor, quis sed aut tempora? Nam sequi possimus
          deserunt dolores a voluptatem laudantium corporis nostrum obcaecati.
          Recusandae, cupiditate!
        </p>
      </div>

      <div class="slick-card">
        <h3>5</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cumque
          sapiente doloribus, explicabo accusamus adipisci assumenda obcaecati
          odit in nihil tempora error, repudiandae ipsum nobis voluptas. Magnam
          rem quod incidunt ex, odit tenetur tempore ipsa pariatur vitae placeat
          iusto ratione quo sint, dolore dolor maiores at culpa rerum sed vel
          architecto numquam id consequatur deserunt! Exercitationem praesentium
          ea ullam ipsum cupiditate dolorum, pariatur eveniet, vel excepturi
          sit, nemo velit expedita facere necessitatibus. Consectetur expedita
          atque et a praesentium, rem accusantium? Temporibus repellat earum ex
          quas non asperiores corrupti adipisci praesentium, perferendis
          possimus, animi reiciendis? Animi nihil sint in molestias quod ipsum
          mollitia aliquam, eligendi necessitatibus ipsam exercitationem tempore
          voluptatibus reprehenderit unde a fuga illum fugit aliquid explicabo
          ad, odio dignissimos similique? Molestias odio earum voluptas.
          Voluptate veniam corrupti, nihil vel a provident eveniet beatae ipsa
          nulla reiciendis minus, aliquam consequatur, ex esse eligendi impedit
          voluptatum doloribus quam exercitationem ut? Asperiores cum facere
          dicta repellat reiciendis mollitia dolore vero qui libero. Velit
          aliquid molestiae tenetur? Placeat unde maxime minima fugiat! Delectus
          voluptates, illum, enim totam aperiam ipsum architecto nam obcaecati
          repellendus culpa ea dolor, quis sed aut tempora? Nam sequi possimus
          deserunt dolores a voluptatem laudantium corporis nostrum obcaecati.
          Recusandae, cupiditate!
        </p>
      </div>

      <div class="slick-card">
        <h3>6</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cumque
          sapiente doloribus, explicabo accusamus adipisci assumenda obcaecati
          odit in nihil tempora error, repudiandae ipsum nobis voluptas. Magnam
          rem quod incidunt ex, odit tenetur tempore ipsa pariatur vitae placeat
          iusto ratione quo sint, dolore dolor maiores at culpa rerum sed vel
          architecto numquam id consequatur deserunt! Exercitationem praesentium
          ea ullam ipsum cupiditate dolorum, pariatur eveniet, vel excepturi
          sit, nemo velit expedita facere necessitatibus. Consectetur expedita
          atque et a praesentium, rem accusantium? Temporibus repellat earum ex
          quas non asperiores corrupti adipisci praesentium, perferendis
          possimus, animi reiciendis? Animi nihil sint in molestias quod ipsum
          mollitia aliquam, eligendi necessitatibus ipsam exercitationem tempore
          voluptatibus reprehenderit unde a fuga illum fugit aliquid explicabo
          ad, odio dignissimos similique? Molestias odio earum voluptas.
          Voluptate veniam corrupti, nihil vel a provident eveniet beatae ipsa
          nulla reiciendis minus, aliquam consequatur, ex esse eligendi impedit
          voluptatum doloribus quam exercitationem ut? Asperiores cum facere
          dicta repellat reiciendis mollitia dolore vero qui libero. Velit
          aliquid molestiae tenetur? Placeat unde maxime minima fugiat! Delectus
          voluptates, illum, enim totam aperiam ipsum architecto nam obcaecati
          repellendus culpa ea dolor, quis sed aut tempora? Nam sequi possimus
          deserunt dolores a voluptatem laudantium corporis nostrum obcaecati.
          Recusandae, cupiditate!
        </p>
      </div>
    </div>
  </div>
</section>
