<section class="solutions">
  <div class="container">
    <img
      src="./images/solutions/solutions.jpg"
      alt="team"
      width="680"
      height="460"
    />
    <div class="solutions-content-wrapper">
      <p class="section-top-title section-top-title__light">
        What you are looking for
      </p>
      <h2 class="title title__light">We provide bespoke solutions</h2>
      <p class="section-description section-description__light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a class="solutions-btn link" href="">Read More</a>
    </div>
  </div>
</section>
