<section class="team-section">
  <div class="container">
    <p class="section-top-title section-top-title__dark">Who we are</p>
    <h2 class="title title__dark">Our Professional Team</h2>
    <p class="section-description section-description__dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="list team-list">
      <li class="person">
        <div class="team-thumb">
          <img src="./images/our-team/john.jpg" width="420" alt="President" />

          <div class="overlay-team">
            <ul class="socials list">
              <li class="socials-item">
                <a
                  class="socials-link link"
                  href="https://instagram.com"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Instagram icon"
                >
                  <svg class="socials-icon" width="35" height="35">
                    <use href="./images/svg-spite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="socials-item">
                <a
                  class="socials-link link"
                  href="https://twitter.com"
                  aria-label="Twitter icon"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="socials-icon" width="35" height="35">
                    <use href="./images/svg-spite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="socials-item">
                <a
                  class="socials-link link"
                  href="https://facebook.com"
                  aria-label="Facebook icon"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="socials-icon" width="40" height="35">
                    <use href="./images/svg-spite.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="socials-item">
                <a
                  class="socials-link link"
                  href="https://linkedin.com"
                  aria-label="LinkedIn icon"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="socials-icon" width="31" height="35">
                    <use href="./images/svg-spite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <h3 class="name">John Doe</h3>
        <p class="position">President</p>
      </li>
      <li class="person">
        <div class="team-thumb">
          <img src="./images/our-team/jane.jpg" width="420" alt="President" />

          <div class="overlay-team">
            <ul class="socials list">
              <li class="socials-item">
                <a
                  class="socials-link link"
                  href="https://instagram.com"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Instagram icon"
                >
                  <svg class="socials-icon" width="35" height="35">
                    <use href="./images/svg-spite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="socials-item">
                <a
                  class="socials-link link"
                  href="https://twitter.com"
                  aria-label="Twitter icon"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="socials-icon" width="35" height="35">
                    <use href="./images/svg-spite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="socials-item">
                <a
                  class="socials-link link"
                  href="https://facebook.com"
                  aria-label="Facebook icon"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="socials-icon" width="40" height="35">
                    <use href="./images/svg-spite.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="socials-item">
                <a
                  class="socials-link link"
                  href="https://linkedin.com"
                  aria-label="LinkedIn icon"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="socials-icon" width="31" height="35">
                    <use href="./images/svg-spite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <h3 class="name">Jane Doe</h3>
        <p class="position">Vice President</p>
      </li>
      <li class="person">
        <div class="team-thumb">
          <img src="./images/our-team/steve.jpg" width="420" alt="President" />

          <div class="overlay-team">
            <ul class="socials list">
              <li class="socials-item">
                <a
                  class="socials-link link"
                  href="https://instagram.com"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Instagram icon"
                >
                  <svg class="socials-icon" width="35" height="35">
                    <use href="./images/svg-spite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="socials-item">
                <a
                  class="socials-link link"
                  href="https://twitter.com"
                  aria-label="Twitter icon"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="socials-icon" width="35" height="35">
                    <use href="./images/svg-spite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="socials-item">
                <a
                  class="socials-link link"
                  href="https://facebook.com"
                  aria-label="Facebook icon"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="socials-icon" width="40" height="35">
                    <use href="./images/svg-spite.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="socials-item">
                <a
                  class="socials-link link"
                  href="https://linkedin.com"
                  aria-label="LinkedIn icon"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="socials-icon" width="31" height="35">
                    <use href="./images/svg-spite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <h3 class="name">Steve Smith</h3>
        <p class="position">President</p>
      </li>
    </ul>
  </div>
</section>
