.logo {
  font-size: 32px;
  line-height: 1.21;
  color: var(--accent-color);
  display: flex;
  align-items: center;

  @media screen and(min-width: $tablet) {
    font-size: 35px;
  }

  &__icon {
    fill: var(--accent-color);
    margin-right: 5px;

    @media screen and(min-width: $tablet) {
      margin-right: 10px;
    }
  }
}
