.section-description {
  font-size: 16px;
  line-height: 1.62;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 1.55;
  }


  &__light {
    color: var(--secondary-text-color);
    margin-bottom: 14px;

    // Tablet styles
    @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
    }
    
      // Desktop styles
    @media screen and (min-width: $descktop) {
    margin-bottom: 17px;
    }

  }

  &__dark {
    color: var(--primary-text-color);
    margin-bottom: 39px;
  }
}
