.about {
  padding: 30px 0 31px 0;
  background-color: var(--secondary-bg-color);

  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    padding: 40px 0 47px 0;
  }

  @media screen and (min-width: $descktop) {
    max-width: 1360px;
    padding-bottom: 19px;
  }

  & .container {
    padding: 0 50px;

    @media screen and (min-width: $tablet) {
      padding: 0 55px;
    }

    @media screen and (min-width: $descktop) {
      padding: 0 66px;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 18px;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      gap: 51px;
    }

    @media screen and (min-width: $descktop) {
      gap: 71px;
    }
  }

  &-card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 64px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #28a745;

    margin: 0 auto 9px;

    @media screen and (min-width: $tablet) {
      width: 67px;
      height: 67px;

      margin: 0 auto 15px;
    }
  }

  &-icon {
    fill: currentColor;
  }

  &-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.66;

    text-align: center;
    color: var(--primary-text-color);

    margin-bottom: 15px;

    @media screen and (min-width: $tablet) {
      font-size: 20px;
      line-height: 1.65;

      margin-bottom: 16px;
    }
  }

  &-description {
    font-size: 16px;
    line-height: 1.6;

    text-align: center;

    color: var(--primary-text-color);

    @media screen and (min-width: $tablet) {
      font-size: 18px;
      line-height: 1.56;
    }
  }
}
