.section-cases {
  padding: 50px 0 47px 0;
  text-align: center;

  & .container {
    padding: 0 28px;
  }

  .photos-flex {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px 8px;
  }

  .cases-photos {
    max-width: 264px;
    max-height: 176px;
    border-radius: 0px;

    @media (min-width: 768px) {
      max-width: 172px;
      max-height: 115px;
    }
  
    @media (min-width: 1360px) {
      max-width: 320px;
      max-height: 214px;
    }
  }

  &__title {
    
    @media (max-width: 767.9px){

      display: inline-block;
      max-width: 219px;

    }
  }
}
