.footer {
  background-color: var(--footer-bg-color);
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: $tablet){
    padding-bottom: 16px;
  }
}

.footer-container {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 9px;

  @media screen and (min-width: $tablet) {
      margin-bottom: 10px;
    }
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--secondary-text-color);
}

.socials-icon {
  fill: currentColor;
}

.footer-copyright {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.6;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 1.56;
  }
}
