.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding-top: 21px;

  @media screen and(min-width: $tablet) {
    padding-top: 0;
  }

  & .container {
    padding: 0 28px;

    @media screen and(min-width: $tablet) {
      padding: 0 40px;
    }

    @media screen and(min-width: $descktop) {
      padding: 0 50px;
    }
  }

  .nav {
    @media screen and(min-width: $tablet) {
      display: flex;
      align-items: center;
    }
  }

  .nav-list {
    gap: 12px;
    display: flex;
    align-items: center;

    @media screen and(min-width: $tablet) {
      gap: 18px;
    }

    @media screen and(min-width: $descktop) {
      gap: 38px;
    }
  }

  &-logo__margin {
    margin-right: auto;
  }

  &-logo__part {
    color: var(--secondary-text-color);
    margin-left: 10px;
  }

  .accent {
    margin-right: 12px;
    color: var(--accent-color);
  }

  .nav-link {
    position: relative;

    font-size: 16px;
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
    line-height: 1.56;
    color: var(--secondary-text-color);

    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);

    @media screen and(min-width: $tablet) {
      font-size: 18px;
    }
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--accent-color);
  }

  .nav-link:hover::after,
  .nav-link:focus::after {
    position: absolute;
    bottom: 0;

    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 4px;
  }

  .nav-link::after {
    content: '';
    display: block;
    transition: background-color var(--duration) var(--timing-function);
  }
}
