.posts {
  & .container {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
    }
  }

  &-content-wrapper {
    padding: 30px;

    background-color: var(--posts-bg-color);

    // Tablet styles
    @media screen and (min-width: $tablet) {
      width: 50%;
      padding: 29px 39px 30px 30px;
    }

    // Desktop styles
    @media screen and (min-width: $descktop) {
      padding: 112px 44px 113px 30px;
    }
  }

  &-btn {
    position: relative;
    display: inline-block;
    padding: 10px 31px 11px 41px;
    font-size: 16px;
    line-height: calc(26 / 16);

    color: var(--secondary-text-color);
    background-color: transparent;

    border: 1px solid var(--secondary-text-color);
    border-radius: 5px;

    // Tablet styles
    @media screen and (min-width: $tablet) {
      padding: 11px 31px 10px 42px;

      font-size: 18px;
      line-height: calc(28 / 18);
    }
  }
}
