.solutions {
  & .container {
    padding: 0;

    // Tablet & desktop styles
    @media screen and (min-width: $tablet) {
      display: flex;
    }
  }

  &-content-wrapper {
    
    padding: 30px;

    background-color: var(--accent-color);


    // Tablet styles
    @media screen and (min-width: $tablet) {
      width: 50%;
    }

    // Desktop styles
    @media screen and (min-width: $descktop) {
      
      padding: 84px 44px 84px 30px;
    }
  }

  &-btn {
    display: inline-block;
    padding: 20px 31px 21px 41px;
    font-size: 16px;
    line-height: 1.62px;

    color: var(--secondary-text-color);
    background-color: transparent;

    border: 1px solid var(--secondary-text-color);
    border-radius: 5px;

    // Tablet styles
    @media screen and (min-width: $tablet) {
      padding: 21px 31px 20px 42px;

      font-size: 18px;
      line-height: 1.55px;
    }

    // Desktop styles
    @media screen and (min-width: $descktop) {
      padding: 21px 27px 22px 42px;
    }

  }
}



