.solutions {
  & .container {
    display: flex;
    padding: 0;
  }

  &-content-wrapper {
    width: 50%;
    padding: 84px 44px 84px 30px;

    background-color: var(--accent-color);
  }

  &-btn {
    display: inline-block;
    padding: 11px 27px 12px 42px;
    line-height: 1.56;

    color: var(--secondary-text-color);
    background-color: transparent;

    border: 1px solid var(--secondary-text-color);
    border-radius: 5px;
  }
}
